@import "tailwindcss";

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --fs-xs: 12px;
  --fs-sm: 14px;
  --fs-base: 16px;
  --fs-lg: 18px;
  --fs-xl: 20px;
  --fs-2xl: 24px;
  --fs-3xl: 32px;
  --fs-4xl: 40px;

  /* Spacing Scale (margin / padding) */
  --s-0: 0;
  --s-1: 4px;
  --s-2: 8px;
  --s-3: 12px;
  --s-4: 16px;
  --s-5: 24px;
  --s-6: 32px;
  --s-7: 40px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

h3 {
  font-family: var(--font-poppins), sans-serif;
  font-size: var(--fs-xl);
  font-weight: 500;
}
/*navigation component*/

.navigation-container {
  display: flex;
  margin: 2em;
  justify-content: center;
}

.navigation-search nav a {
  color: #fff;
}

.nav-bar {
  display: flex;

  background: linear-gradient(to right, #b7b1f5, #2e2869);
  height: 70px;
  border-radius: 16px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
}

.active-glass {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.3);
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: overlay;
  margin: var(--s-1);
}

.nav-link {
  font-size: var(--fs-base);
  color: #ffffff;
  text-decoration: none;
  padding: 0.7em 1.5em;
  transition: all 0.3s ease;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.active-glass:hover {
  background: rgba(255, 255, 255, 0.25);
  transform: translateY(-3px);
}

.input-navigation {
  display: flex;
}

.search-button {
  background-color: #5a4fcf;
  padding: var(--s-2);
  margin: var(--s-3);
  border-radius: 16px;
}

.hidden-input {
  display: none;
}

.display-input {
  display: block;
  border: 1px solid #5a4fcf;

  width: 100%;
  margin: 5px;
  border-radius: 10px;
  height: 30px;
}

#main-slider-list {
  height: 650px;
}

@media (max-width: 768px) {
  #main-slider {
    height: auto;
  }
}

#main-slider-list .splide__slide {
  overflow: hidden;
  border-radius: 16px;
  max-width: 600px;
}

#main-slider-list .splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.artwork-details {
  padding: 0 5% 0 2rem;
  margin-left: 3em;
}

#thumbnail-slider .splide__slide {
  border: 2px solid purple;
  border-radius: 6px;
  overflow: hidden;
}

.artwork-info {
  margin-top: 3em;
}

.artwork-info h3 {
  margin-bottom: 10px;
}

.sns-system {
  padding: 40px 60px 0 0;
}

.artwork-tags {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.artwork-tags p {
  vertical-align: middle;
  width: 70px;
  height: 50px;
  background-color: rebeccapurple;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-list {
  display: flex;
  gap: 5px;
}

.style-year-created {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}
