.artist-page-wrapper {
  padding: 50px 100px;
}

.favorite-about-section{
  max-width:1000px;
}

.all-artwork-container{
display:flex;
justify-content: center;
margin-top: 30px;
}
.all-artwork-container button {
  width: 80px;
  height: 40px;
  border-radius: 16px;
  border: 2px solid #c860fc;
  background-color: #c860fc;
  color: #fff;
}

.all-artwork-container button:hover {
  background-color: #fff;
  border: 2px solid #c860fc;
  color: #252525;
}




.artist-artworks-container {

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.artist-artworks-container::-webkit-scrollbar {
  display: none;
}

.artist-cards {
  min-width: 250px;
  min-height: 200px;
  scroll-snap-align: start;
  border-radius: 16px;
  transition: background-color 0.3s ease;
  object-fit: cover;
}

.artist-cards img {
  border-radius: 16px;
}
.artist-cards img:hover {
  border: 1px solid #c860fc;
}

