
#main-slider-list {
  height: 650px;
}

@media (max-width: 768px) {
  #main-slider {
    height: auto;
  }
}

#main-slider-list .splide__slide {
  overflow: hidden;
  border-radius: 16px;
  max-width: 600px;
}

#main-slider-list .splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.artwork-details {
  padding: 0 5% 0 2rem;
  margin-left: 3em;
}

#thumbnail-slider .splide__slide {
  border: 2px solid purple;
  border-radius: 6px;
  overflow: hidden;
}

.artwork-info {
  margin-top: 3em;
}

.artwork-info h3 {
  margin-bottom: 10px;
}

.sns-system {
  padding: 40px 60px 0 0;
}

.artwork-tags {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.artwork-tags p {
  vertical-align: middle;
  width: 70px;
  height: 50px;
  background-color: rebeccapurple;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-list {
  display: flex;
  gap: 5px;
}

.style-year-created {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}
