/* Follow and subscribe section*/
.icon-name {
  margin-top: 2em;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-name img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.follow-subscribe-buttons {
  display: flex;
  margin-top: 1em;
  margin-left: 20px;
}

.follow-button {
  width: 80px;
  height: 32px;
  background: linear-gradient(to right, #b7b1f5, #2e2869);
  color: #fff;
  font-weight: 500;
  border-radius: 16px;
}

.subscribe-button {
  width: 90px;
  height: 36px;
  display: flex;
  position: relative;
  margin-left: 5px;
  align-items: center;
  justify-content: center;
}

.subscribe-button::before {
  width: 90px;
  height: 32px;
  padding: 2px;
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  background: linear-gradient(45deg, #b7b1f5, #2e2869);
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
}